@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Special+Gothic+Expanded+One&display=swap');

body {
    font-family: "Special Gothic Expanded One", sans-serif;
    background: #89CFF0;
    color: #FFFF;
}

a {
    text-decoration: none;
    color: black;
}

#login{
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
}

.name input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color:  white;
    color: black;
    margin-bottom: 15px;
}

.email input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    background-color:  white;
    color: black;
}

.senha input{
    border-radius: 15px;
    border: none;
    width: 250px;
    height: 40px;
    padding-left: 15px;
    margin-top: 15px;
    background-color:  white;
    color: black;
}

.entrar button{
    cursor: pointer;
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border: none;
    background-color: black;
    color: white;
}

.caixa{
    margin-top: 200px;
}

.caixa img{
    width: 115px;
}

input:focus{
    outline: none;
}

